<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title id="pageTitle">Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <style>
    label {
      color: white;
    }
  </style>
</head>

<body class="text-left" style="background-color: #333333;">
  <div class="container-fluid" style="background-color: #33FFBB;">
      <div class="text-center" style="margin-bottom: 5px; padding-top: 10px; padding-bottom: 10px;">
          <h1>Register Page</h1>
      </div>
  </div>
  <div>
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <div sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                </div>
              <li class="nav-item">
                  <a class="nav-link" href="/cart">Search</a>
              </li>
          </ul>
      </nav>
  </div>
  <div>

<div class="container-sm" style="padding-top: 40px;">
<main class="form-signup">
  <form action="#" th:action="@{/register}" th:object="${accountInput}" method="post">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" th:field="*{username}" class="form-control" id="usernameInput" required/>
      <p th:text="${usernameAlert}" style="color:red;"></p>
    </div>

    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" th:field="*{password}" class="form-control" id="passwordInput" required/>
    </div>

    <div class="mb-3">
      <label for="emailInput" class="form-label">Email Address</label>
      <input type="email" th:field="*{email}" class="form-control" id="emailInput" required/>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

  </form>
</main>
</div>
</body>
</html>