<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="bootstrap.html :: headFragment">
  <title id="pageTitle">Sign Up</title>
</head>

<body class="text-left">
<main class="form-signup">
  <h1 class="mb-3 text-center">Register</h1>

  <form action="#" th:action="@{/register}" th:object="${accountInput}" method="post">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" th:field="*{username}" class="form-control" id="usernameInput" required/>
      <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;">Name Error</p>
      <p th:text="${usernameAlert}" style="color:red;"></p>
    </div>

    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" th:field="*{password}" class="form-control" id="passwordInput" required/>
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;">Password Error</p>
    </div>

    <div class="mb-3">
      <label for="firstNameInput" class="form-label">First Name</label>
      <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput" required/>
      <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red;">First Name Error</p>
    </div>

    <div class="mb-3">
      <label for="lastNameInput" class="form-label">Last Name</label>
      <input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput" required/>
      <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red;">Last Name Error</p>
    </div>

    <div class="mb-3">
      <label for="emailInput" class="form-label">Email Address</label>
      <input type="email" th:field="*{email}" class="form-control" id="emailInput" required/>
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;">Email Error</p>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

  </form>
</main>
</body>
</html>