<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title id="pageTitle">Sign Up</title>
</head>

<body class="text-left">
<main class="form-signup">
  <h1 class="mb-3 text-center">Register</h1>

  <form action="#" th:action="@{/register}" th:object="${accountInput}" method="post">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" th:field="*{username}" class="form-control" id="usernameInput" required/>
      <p th:text="${usernameAlert}" style="color:red;"></p>
    </div>

    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" th:field="*{password}" class="form-control" id="passwordInput" required/>
    </div>

    <div class="mb-3">
      <label for="emailInput" class="form-label">Email Address</label>
      <input type="email" th:field="*{email}" class="form-control" id="emailInput" required/>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

  </form>
</main>
</body>
</html>